<form method="post" action="/create">
  <label for="filename">Add a new document:</label>
  <div>
    <input type="text" name="filename" />
    <button type="submit">Create document</button>
  </div>
</form>
